In [35]:
import requests
import pandas as pd
import json
import pprint

In [36]:
# Read the CSV file containing highest paid NBA players
salary_df = pd.read_csv('Resources/nba_salaries.csv')

In [45]:
# Isolate the names of NBA players into a list
player_names_list = salary_df["Player"].values.tolist()
player_names_list

['Stephen Curry',
 'John Wall',
 'Russell Westbrook',
 'James Harden',
 'Damian Lillard',
 'LeBron James',
 'Kevin Durant',
 'Giannis Antetokounmpo',
 'Paul George',
 'Kawhi Leonard',
 'Klay Thompson',
 'Jimmy Butler',
 'Tobias Harris',
 'Khris Middleton',
 'Anthony Davis',
 'Rudy Gobert',
 'Kyrie Irving',
 'Bradley Beal',
 'Kristaps Porzingis',
 'Devin Booker']

In [38]:
# Run the list of names through our API call and parse out player ID's to use later

## For some reason, Kristaps and Devin Booker get dropped from the list...
## It could be a limit on the API call?

url = "https://www.balldontlie.io/api/v1/players/?search="
player_id_list = []

for name in player_names_list:
    player_url = url + f"{name}"
    player_get = requests.get(player_url)
    player_get.json()
    player_dict = json.loads(player_get.text)
    player_id_list.append(player_dict['data'][0]["id"])

In [47]:
# Hint --  Give some time some the JSON to run
# Add the information to a DataFrame
player_id_df = pd.DataFrame(player_id_list)
salary_id_join = player_id_df.join(salary_df)
salary_player_id_df = salary_id_join.rename(columns={0: 'player_id'})
salary_player_id_df= salary_player_id_df[['player_id','Player','Tm','2021-22']]
salary_player_id_df

    player_id                 Player   Tm          2021-22
0         115          Stephen Curry  GSW  $45,780,966.00
1        1014              John Wall  HOU  $44,310,840.00
2         472      Russell Westbrook  LAL  $44,211,146.00
3         192           James Harden  BRK  $43,848,000.00
4         278         Damian Lillard  POR  $43,750,000.00
5         237           LeBron James  LAL  $41,180,544.00
6         140           Kevin Durant  BRK  $40,918,900.00
7          15  Giannis Antetokounmpo  MIL  $39,344,970.00
8         172            Paul George  LAC  $39,344,970.00
9         274          Kawhi Leonard  LAC  $39,344,900.00
10        443          Klay Thompson  GSW  $37,980,720.00
11         79           Jimmy Butler  MIA  $36,016,200.00
12        200          Tobias Harris  PHI  $36,000,000.00
13        315        Khris Middleton  MIL  $35,500,000.00
14        117          Anthony Davis  LAL  $35,361,360.00
15        176            Rudy Gobert  UTA  $35,344,828.00
16        228           Kyrie Irving  BRK  $34,916,200.00
17         37           Bradley Beal  WAS  $34,502,130.00
18        378     Kristaps Porzingis  DAL  $31,650,600.00
19         57           Devin Booker  PHO  $31,610,000.00

In [48]:
# Store the player variables
%store player_names_list
%store player_id_list
%store salary_player_id_df

Stored 'player_names_list' (list)
Stored 'player_id_list' (list)
Stored 'salary_player_id_df' (DataFrame)