In [2]:
import requests
import json
import pprint
import pandas as pd
import pycurl
from itertools import chain
import numpy as np

In [15]:
james = requests.get("https://www.balldontlie.io/api/v1/stats?player_ids[]=237&start_date='2021-03-01'&end_date='2021-04-01'")
james.json()
james_all = json.loads(james.text)
james_df = pd.DataFrame(james_all['data'])    
james_df

,id,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,fgm,...,game,min,oreb,pf,player,pts,reb,stl,team,turnover
0,4361935,6,1,5,37.5,8,3,66.7,24,16,...,"{'id': 128037, 'date': '2021-03-02T00:00:00.00...",37:38,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",38,5,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3
1,4592829,11,0,9,50.0,4,2,61.5,13,8,...,"{'id': 264302, 'date': '2021-03-15T00:00:00.00...",30:29,1,3,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",22,10,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",6
2,4742946,4,0,1,50.0,2,1,50.0,6,3,...,"{'id': 264338, 'date': '2021-03-20T00:00:00.00...",10:36,0,0,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",10,1,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",1
3,4624280,12,1,11,57.1,7,4,57.1,14,8,...,"{'id': 264310, 'date': '2021-03-16T00:00:00.00...",31:12,1,0,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",25,12,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",4
4,4498325,10,0,3,25.0,4,1,38.5,13,5,...,"{'id': 264277, 'date': '2021-03-12T00:00:00.00...",34:21,0,4,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",18,3,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3
5,4689909,6,1,7,44.4,9,4,60.9,23,14,...,"{'id': 264326, 'date': '2021-03-18T00:00:00.00...",36:30,1,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",37,8,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3